
$border: 1px solid rgb(210, 210, 251);
$size_w: 280px;
$size_h: 320px;

@mixin styling {
    font-size: 20px;
    display: block;
    position: absolute;
    left:250px;
    background-color: white;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 4px 7px rgb(0, 0, .1);
    padding: 15px;
    cursor: pointer;

}  

@mixin prodBox {
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(159, 152, 152);
    background-color: white;
    width: 220px;
}
.news-name{
    padding: 5px;
    font-size: 15px;
}
.detailsBtn{
    width: 120px;
    height: 30px;
    background: rgb(212, 212, 240);
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 2px;
    padding: 5px;
    border: 1px solid rgb(190, 184, 184);
    a{
    text-decoration: none;
    }
}
.addToCart {   
    cursor: pointer;
    margin-left:10rem;
    height: 36px;
    display: flex;
    align-items: center;

}

.show-title{
    text-align: center;
    margin-top: 50px
}