@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color--);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0;
}

section {
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
}

li {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

div {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #4267cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 70px;
  width: 100%;
  margin: 0;
}

.menu a {
  color: white;
}

.menu a:link {
  text-decoration: none;
}

.prod-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.link {
  padding: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1;
  display: inline-block;
  text-shadow: 0px 4px 12px black;
}

.dropdown-menuActive {
  position: relative;
  opacity: 0;
  top: 40px;
  -webkit-box-shadow: 0 2px 5px 0 black;
          box-shadow: 0 2px 5px 0 black;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  margin-right: 12px;
}

.dropdown-menuActive ul {
  background-color: white;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 258px;
  padding-right: 21px;
}

.dropdown-menuActive ul li {
  list-style-type: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dropdown-menuActive ul li a {
  color: black;
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dropdown-menuActive ul li:hover {
  background-color: #cecef1;
}

.prod-categories > .link:focus + .dropdown-menuActive {
  opacity: 1;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  min-height: 75vh;
  background-image: url("images/Health.jpg");
  background-size: cover;
}

.top {
  text-align: center;
}

.top-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.product1, .product2, .product3 {
  margin: 5px;
  border: 1px solid #d2d2fb;
  width: 280px;
  height: 320px;
  position: relative;
}

.button {
  position: absolute;
  bottom: 10%;
  left: 30%;
  background-color: #dff7f7;
  border: 2px solid #c3c3f1;
  color: #b9b4b4;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.home-btn {
  color: black;
  letter-spacing: 1px;
}

.home-btn:hover {
  color: blue;
  cursor: pointer;
}

.summer {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}

.shop {
  padding: 30px;
  background-color: white;
  margin-top: 2rem;
}

.shop-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 3rem;
}

.product-box {
  position: relative;
  border: 1px solid #9f9898;
  background-color: white;
  height: 300px;
  width: 220px;
  cursor: pointer;
}

.prod-img {
  width: 140px;
  height: 140px;
  margin-bottom: 0.25rem;
  margin-left: 30px;
  margin-top: 10px;
}

.prod-title {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

.price {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seeDetails {
  width: 120px;
  height: 35px;
  background: #d4d4f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: 40px;
  padding: 5px;
  border: 1px solid #beb8b8;
  cursor: pointer;
}

.seeDetails a {
  text-decoration: none;
}

.seeDetails:hover {
  background-color: #e7e7f7;
}

.add-cart {
  position: absolute;
  right: 0;
  margin-top: 19px;
  cursor: pointer;
  padding: 15px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-cart:hover {
  background-color: #93f193;
}

footer {
  height: 200px;
  background-color: #4267cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  color: white;
}

footer .footer-title {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: medium;
  font-weight: lighter;
  color: white;
  padding: 2px;
}

footer ul li a {
  color: white;
  font-size: medium;
}

footer ul .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

footer ul .social-media li {
  font-size: 20px;
  cursor: pointer;
  margin-right: 25px;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright p {
  font-size: small;
}

.categorySelect {
  padding: 10px;
  margin: 15px;
  margin-left: 40px;
  color: #b6abab;
}
/*# sourceMappingURL=main.css.map */