@import "basics";
@import "prodStyle";
@import "typo";

@media screen and (max-width:768px) {
    
    .hamburger{
        color: rgb(15, 15, 145);
        display: block;
        margin-top: 60px;
        margin-right: 20px;
        font-size: 25px;
        cursor: pointer;
        .close{
            margin-top: 20px;
            margin-left: 215px;
            cursor: pointer;
        }

        .prod-categories{
            right:-410px;
            width: 300px;
            height: 250px;
            position: absolute;
            background-color:white;
            padding: 10px;
            border-radius: 10%;
            li{
                padding: 5px;
                a{
                    text-decoration: none;
                }
            }
            li:hover{
                background-color: rgb(209, 202, 202);
            }
        }
    }
    nav{
        display: none;
    }
    .menu{
        display: none;
    }

    .wrapper{
        display: none;
    }
    footer{
        display: none;
    }
.prod-categories.active{
    right: 0;
}

}
