@import "prodStyle";
@import "basics";

body{
    font-family: sans-serif;
    background-color: rgb(253, 242, 229);
    padding: 20px 0 28px 0;
    margin: 0;
}
.med-photo{
    width: 150px;
    height: 140px;
    padding: 5px;
}
  
.show-title{
    text-align: center;
    margin-top: 50px
}
.medication {
    @include prodBox;
}
.personal-care{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
    gap: 3rem;
    margin-top: 100px;
    cursor: pointer;
    padding: 15px;
    margin-left: 130px;
}
.news-name{
    padding: 5px;
}
.detailsBtn{
    width: 120px;
    height: 30px;
    background: rgb(212, 212, 240);
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 2px;
    // padding: 5px;
    border: 1px solid rgb(190, 184, 184);
    a{
    text-decoration: none;
    }
}