@import "prodStyle";

body{
    font-family: sans-serif;
    background-color: white;
    padding: 20px 0 25px 0;
    margin: 0;
}
.find{
    top: 22px;
}
.med-photo{
    width: 150px;
    height: 140px;
}
  

.medication{
    @include prodBox;
}
.prod-oct{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
    gap: 5rem;
    margin-top: 70px;
    cursor: pointer;
    padding: 20px;
    margin-left: 160px;
}
