@import "prodStyle";

body{
    font-family: sans-serif;
    background-color: white;
    padding: 20px 0 28px 0;
    margin: 0;
}
.med-photo{
    width: 150px;
    height: 140px;
}
.find{
    top: 22px;
}
.show-title{
    text-align: center;
    margin-top: 50px;
}
.medication {
    @include prodBox;
}


.wellness{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
    gap: 3rem;
    margin-top: 80px;
    cursor: pointer;
    padding: 16px;
    margin-left: 130px;

}
.news-name{
    padding: 5px;
    font-size: 15px;
}
.detailsBtn{
    width: 120px;
    height: 30px;
    background: rgb(212, 212, 240);
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 2px;
    padding: 5px;
    border: 1px solid rgb(190, 184, 184);
    a{
    text-decoration: none;
    }
}