@import "basics";
@import "prodStyle";
@import "typo";

.hamburgerIcon{
    display: none;
    margin-left: 1.5rem;
}

.hamburgerIcon div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 0.25rem;

}
.customerContact{
    width:60%;
    display: flex;
    justify-content: space-between;
    li{
        margin-left: 1rem;
    }
}

@media screen and (min-width:200px) and (max-width:380px){
   
    body{
        overflow-x: hidden;
        
    }
    .customerContact{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        width: fit-content;
        height: fit-content;
        li{
            font-size: 15px;
          
        }
       
       .cart-content{
        width: fit-content;
        height: fit-content;
       }
       .menu #root{
        position: absolute;
        z-index: -1;
       }
    }
    .cart{
        width: 70%;
        height:fit-content;
        position: absolute;
        h3{
            font-size: 15px;
        }
        .total-tittle,.total-price{
            font-size: 17px;
        }
        .btn-buy{
            font-size: 0.75rem;
        }
        .cart-content{
                width: fit-content;
                margin-right: 1rem;
            .cart-prod-title,.cart-price,.cart-remove {
            font-size: 15px;
            }     
     
        }
     }
   
    .product-box{
        height: fit-content;
        width: 170px;
        padding: 4px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .seeDetails{
            width: 100px;
            height: 25px;
            font-size: 10px;
            margin-left: auto;
            margin-right:auto ;
    }
    .prod-img{
        width: 80px;
        height: 80px;
}
.add-cart{
    bottom: 0;
    margin-right: 0;
    height: 26px;
    padding: 2px;
}

}
.prod-categories{
    right:0px;
    top:18rem;
    width: 150px;
    text-align: left;
    height: 82vh;
    position:absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in;

 a{
    color:rgb(8, 51, 72);
 }
    .dropdown-menuActive{
        top:0px;
    }
    .active{
        width: fit-content;
        
        li{
            font-size: 17px;
        }
    }
}

.hamburgerIcon {
    display: block;
    cursor: pointer;
  
}

.hamburger-active{
    transform: translateX(0%);
    opacity: 1.5;
    z-index: 1;
}
    footer{
        display: none;
    }

//productPage
.prodPage{
    height: 450px;
    width:350px;
    display: table;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
   
    .prodBox{
        margin-right: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        img{
            height: 130px;
            width: 120px; 
        }
    }
    .product{
        height: 320px;
        width: 300px;
        padding: 15px;
       
        .prodInfo{
            height: fit-content;
            width: fit-content;
          h2{
                font-size: 15px;
            } 
        }
        p{
          font-size: 10px; 
        }
        .delOption{
            font-size: 10px;
        }
        .delivery{
            li{
                font-size: 10px;
            }
        }
        .addToCart{
            height: 30px;
            width: 120px;
            margin-top:10%;
            display: table;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            h3{
                font-size: 8px;
            }
            i{
                height: 0.5rem;
                margin-bottom: 1.5rem;
            }
        }
 
}

    .fa-regular{
            color: gold;
            font-size: 8px;
        }
    .review{
            font-size: 10px;
        }
       
    .product{
        width:360px;
        height: 400px;
    }  
    .prodInfo{
        height: fit-content;
        width: fit-content;
      h2{
            font-size: 10px;
        } 
    }
    .prodDetails{
        h3{
            font-size: 13px;
        }
    }
    p{
      font-size: 10px; 
    }
    #prodImage{
        margin-top: 90px;
        width:120px;
        height:90px
}
.backBtn{
    height:25px;
    font-size: 15px;
}
}


//Login page
.login{
    display: table;
    margin-right: auto;
    margin-left: auto;
}    
.login-form{
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


h2,h4{
    font-size: 15px;
}
}
.contact-login{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
label{
    font-size: 13px;
}
.login1,.login2{
    display: table;
    margin-right: auto;
    margin-left: auto;
}
}
.submit{
    margin-right: 60%;
    button{
        width:100px;
        height: 25px;
        padding-left: 8%;
    }
}
//Register page
    .sign { 
        display: table;
        margin-right: auto;
        margin-left: auto;
      }
      .formular{
        width: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
  
        img{
           width: 100px;
        }
        .form{
            width: fit-content;
            height: fit-content;
            margin-right: 200px;
            
            label{
                font-size: 12px;
            }
    
          }
          .submit > button{
            width:130px;
            height: 25px;
            padding-left: 10%;
          }
      }
      .register-img img{
        display: none;
        }
        
}


@media screen and (min-width:381px) and (max-width:768px) {

    body{
        overflow-x: hidden;
    }
  
    .logo-img{
        width: 100%;
        height: 100%;
       margin-top: 1.5rem;
    }
    .hero{
        min-height: 35vh;
    }
    .shop-content{
    display: table;
    margin-right: auto;
    margin-left: auto;
    .product-box {
        margin: 0.5rem;
      }
    }
    .cart{
        width: 50%;
        height:150px;
        position: absolute;
        overflow-y:scroll;
    }
    .customerContact{
        display: table;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
  
    }
 
        .prod-categories{
            right:0px;
            top:9rem;
            width: 300px;
            height: 92vh;
            position:absolute;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width:60%;
            transform: translateX(100%);
            opacity: 0;
            transition: transform 0.5s ease-in;
  
         a{
            color:rgb(8, 51, 72);
         }
            .dropdown-menuActive{
                top:0px;
            
            li:hover{
                background-color: rgb(206, 206, 241);
                width: 100%;
        }
    }
}

//productPage
.prodBox{
    img{
        height: 150px;
        width: 330px;
    }
}
.product{

    .prodInfo{
        height: fit-content;
        width: fit-content;
       h2, h3{
            font-size: 20px;
        } 
    }
    p{
      font-size: 15px; 
    }
    .delOption{
        font-size: 15px;
    }
    .delivery{
        li{
            font-size: 15px;
        }
    }
    .addToCart{
        height: 28px;
        width: 180px;
    }

}


.hamburgerIcon {
    display: block;
    cursor: pointer;
}

.hamburger-active{
    transform: translateX(0%);
    opacity: 1.5;
    z-index: 1;
}
//Login page
.login{
    display: table;
    margin-right: auto;
    margin-left: auto;
}    
.login-form{
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
h2,h4{
    font-size: 20px;
}
}

.contact-login{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
label{
    font-size: 17px;
}
.login1,.login2{
    margin-right: 4rem;
}
}
.submit{
    margin-right: 40%;
}
//Register page

.sign { 
    display: table;
    margin-right: auto;
    margin-left: auto;
  }
  .formular{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    img{
       width: 120px;
    }
    .form{
        margin: 20px;
        margin-left: 50px;
        label{
            font-size: 17px;
        }
      }
  }

.register-img img{
display: none;
}
    .wrapper{
        display: none;
    }
    footer{
        width: 100%;
    }
    footer div{
    margin:6px;

        li, h4{
            font-size: 60%;
            width: fit-content;
        }
        
    }
    .link{
        opacity: 0;
    }



}

@media screen and (min-width:769px) and (max-width:1024px){
    body{
        overflow-x: hidden;
    
    }
    .hero{
        min-height: 45vh;
    }
    .shop-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
        margin-right: 25px;
        margin-left: 15px;
        .product-box {
            margin: 0.5rem;
          }
    }

    .cart{
        height:80%;
        position: absolute;
        overflow-y:scroll;
    }
    .cart-content{
      width: fit-content;  
    }
    .sign { 
            width: fit;
            display: flex;
            align-items: center;
          }
    .register-img img{
        display: none;
    }
  .menu{
    width:fit-content;
    .link{
        font-size: 15px;
    
    }
    .dropdown-menuActive{
        width: 150px;
        cursor: pointer;
    }
   .dropdown-menuActive ul{
    width: fit-content;
    a{
        font-size: 15px;
        padding: 5px;
    }
   }
  }

.login{
    display: table;
    margin-right: auto;
    margin-left: auto;
}    
.login-form{
width: 650px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.contact-login{
    display: flex;
    flex-direction: column;

}
.login1{
    margin-left: -8px;
}
.submit{
   margin-right: 150px;
}
.wrapper{
    display: none;
}


}

@keyframes slideMenu{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}
